p.margOne {
    margin-left: 14px;
}
p.margTwo {
    margin-left: 30px;
}
p.margThree {
    margin-left: 40%;
}
p.relative {
    position: relative;
    left: 50px;
}
h1 {
    position: relative;
    top: -10px;
}